--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.7.0+cu118
torchvision==0.22.0+cu118
xformers==v0.0.30

click
numpy
einops
omegaconf
tqdm
rerun-sdk
imageio[ffmpeg]
opencv-python
matplotlib
python-pycg
timm
transformers
gdown
OpenEXR<3.3.0
kornia
hydra-core
ray
ninja
viser
